[[extend 'layout.html']]

  <section class="section">
    <div class="container">
      <h1 class="title">
        About Us
      </h1>
      <p>
        We are team "BSOE Course Scheduler".
        Our team members include Andriy Bondar(Product Owner), Harmeet Sohal, Nathanael Chow, Arthur Weimholt, and Shiyuan Huang.
        <br>Our story: A lot of students have a hard time meeting with counselors and it could sometimes take weeks to hear back from them.<br>
        This ends up leaving students trying to figure out what classes they need to take for graduation and that can be a lot of piecing together for the students. <br>
        Our app would automate this process and help students figure out schedules personalized for them.
​
      </p>
      <h3 class="title">How to use site</h3>
      <p>
        Enter the courses you have taken for CS into the table below. To see some suggestions on what to take next, press suggest courses. To see what requirements you still need to fulfill, press CS requirements.
        To see what courses you may select for a given term given what you took up to this point, go to selection menu by trying to add a future course.
        The selection page will warn you if a course isn't offered or you already took it, so that you can construct a realistic plan.
        You can view more detailed course descriptions on the selection page as well. The application will keep track of how many units you took in total. Happy Planning!
      </p>
    </div>
  </section>
  <div class="buttons has-addons is-centered">
    <a class="button is-success" href="[[=URL('index', signer = url_signer)]]">
        <span>Back</span>
    </a>
  </div>
