[[extend 'layout.html']]

<div class="section">
   <!-- Put the table here -->
   <a class="button is-success" href="[[=URL('addCourse')]]">
      <span class ="icon"><i class="fa fa-plus"></i></span>
      <span>Add Course</span>
   </a>
   <div class="container">
      <table class="table is-striped is-fullwidth">
         <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Offered</th>
            <th>Requirement</th>
         </tr>
         [[for course in courses:]]
         <tr>
            <td>[[=course.name]]</td>
            <td>[[=course.description]]</td>
            <td>[[=course.offered]]</td>
            <td>[[=course.requirement_name]]</td>
            <td>
               <a class="button" href="[[=URL('editCourse', course.id)]]">
                  <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span>
               </a>
            </td>
            <td>
               <a class="button" href="[[=URL('deleteCourse', course.id, signer = url_signer)]]">
                  <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
               </a>
            </td>
         </tr>
         [[pass]]
      </table>
   </div>
   <a class="button is-success" href="[[=URL('addRequirement')]]">
      <span class ="icon"><i class="fa fa-plus"></i></span>
      <span>Add Requirement</span>
   </a>
   <div class="container">
      <table class="table is-striped is-fullwidth">
         <tr>
            <th>Requirement Name</th>
            <th>Type</th>
            <th>Course Requirement Name</th>
            <th>Course Or Requirement</th>
         </tr>
         [[for requirement in requirements:]]
         <tr>
            <td>[[=requirement.requirement_name]]</td>
            <td>[[=requirement.type]]</td>
            <td>[[=requirement.course_requirement_name]]</td>
            <td>[[=requirement.course_or_requirement]]</td>
            <td>
               <a class="button" href="[[=URL('editRequirement', requirement.id)]]">
                  <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span>
               </a>
            </td>
            <td>
               <a class="button" href="[[=URL('deleteRequirement', requirement.id, signer = url_signer)]]">
                  <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
               </a>
            </td>
         </tr>
         [[pass]]
      </table>
   </div>
</div>
