[[extend 'layout.html']]

  <section class="section">
    <div class="container">
      <h1 class="title">
        Requirements for Computer Science B.S. Degree
      </h1>
      <p>The courses provided in the table must be passed with a C or better to count towards graduation requirement</p>


      <table class="table is-striped is-fullwidth">
         <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
         </tr>
         <tr>
            <td>Math 19A or Math 20A</td>
            <td>Calculus</td>
         </tr>
         <tr>
            <td>Math 19B or Math 20B</td>
            <td>Calculus</td>
         </tr>
         <tr>
            <td>CSE 16</td>
            <td>Discrete Mathematics</td>
         </tr>
         <tr>
            <td>AM 30 or Math 23A</td>
            <td>Multivariate Calculus for Engineers or Vector Calculus</td>
         </tr>
         <tr>
            <td>AM 10 or Math 21</td>
            <td> Engr Math Methods 1 or Linear Algebra</td>
         </tr>
         <tr>
            <td>CSE 20</td>
            <td>Beginning Programming Python</td>
         </tr>
         <tr>
            <td>CSE 30</td>
            <td>Programming Abstractions: Python</td>
         </tr>
         <tr>
            <td>CSE 12/L</td>
            <td>Computer Systems & Assembly Language</td>
         </tr>
         <tr>
            <td>CSE 13S or CSE 13E</td>
            <td>Computer Systems and C Programming or Embedded Systems and C Programming</td>
         </tr>
         <tr>
            <td>CSE 101</td>
            <td>Abstract Data Types</td>
         </tr>
         <tr>
            <td>CSE 102</td>
            <td>Analysis of Algorithms</td>
         </tr>
         <tr>
            <td>CSE 103</td>
            <td>Computational Models</td>
         </tr>
         <tr>
            <td>CSE 107 or STAT 131</td>
            <td>Probability and Statistics or Intro to Probability Theory</td>
         </tr>
         <tr>
            <td>CSE 112 or CSE 114 or CSE 116</td>
            <td>Comparitive Programming Languages or Functional Programming or Introduction to Functional Programming</td>
         </tr>
         <tr>
            <td>CSE 120</td>
            <td>Computer Architecture</td>
         </tr>
         <tr>
            <td>CSE 130</td>
            <td>Principles of Computer Systems Design or Operating Systems</td>
         </tr>
         <tr>
            <td>DC Requirement</td>
            <td>Can be satisfied with one of these courses: CSE 115A, CSE 104 & CSE 104W, CSE 185S, CSE 195, CSE 185E</td>
         </tr>
         <tr>
            <td>Capstone Requirement</td>
            <td>List of classes provided at the bottom of table</td>
         </tr>
         <tr>
            <td>5 Upper Division Electives</td>
            <td>DC and Capstone Courses also count towards the 5 upper division electives</td>
         </tr>
      </table>

      <h2>List of Capstone Courses</h2>
      <p>CSE 110B, CSE 115C, CSE 118, CSE 121/L, CSE 138, CSE 140, CSE 143, CSE 144, CSE 156/L, CSE 160/L, CSE 161/L, CSE 162/L, CSE 163, CSE 168, CSE 181, CSE 183, CSE 184, CMPM 172, ECE 118/L</p>




    </div>
  </section>
  <div class="buttons has-addons is-centered">
    <a class="button is-success" href="[[=URL('index', signer = url_signer)]]">
        <span>Back</span>
    </a>
  </div>
